*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg-app, #fff);
  color: var(--fg-primary, #111);
}

a {
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}
